
.custom-cardC {
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(0, 119, 182, 1);
    width: 1300px;
    height: 310px;
}

.custom-card-header {
    text-align: center;
}

.custom-card-title {
    color: rgb(255, 255, 255);
    font-size: 2.15rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.4;
    max-width: 100%;
}

.custom-card-body {
    margin-top: 20px;
    position: relative;
}

.custom-card-input {
    font-size: 1.25rem;
    padding: 25px 50px 25px 15px; /* Aumenta el padding superior e inferior para hacer el input más alto */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative; /* Para que el ícono se posicione en relación al input */
    height: 48px; /* Ajusta la altura para que sea más alta */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}



.custom-card-input:focus {
    border-color: #0077b6; /* Color más vivo en foco */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 119, 182, 0.5);
}

.search-icon-btn {
    position: absolute;
    margin-left: 890px;
    transform: translateY(-100%);
    background: rgba(244, 196, 48, 1);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(78, 78, 78);
    width: 80px;
    height: 48px; /* Ajusta la altura para coincidir con la nueva altura del input */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon-btn:hover {
    color: black;
    background-color: rgba(255, 165, 0, 1); /* Cambia el fondo al hacer hover */
}

/* Contenedor de tags debajo del buscador */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Centra los botones */
    margin-top:30px !important; /* Mueve los tags hacia arriba (ajusta según lo necesites) */
}

.tags-container button {
    font-size: 13px;
    padding: 8px 15px;
    background-color: rgb(84, 83, 83); /* Cambia el fondo a negro */
    color: rgb(252, 252, 252); /* Color del texto blanco */
   
}

.tags-container button:hover {
    background-color: #383838; /* Cambia el fondo al pasar el ratón */
}

.provider-cardC {
    border: 1px solid black;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.provider-card h3{
    color: black;
}

.provider-info {
    flex: 1;
    max-width: 1300%;
}

.provider-header {
    display: flex;
    align-items: center;
    max-width: 1200%;
}

.provider-logo {
    border-radius: 50%; /* Asegura que el logo sea circular */
    margin-bottom: 80px; /* Añade un espacio debajo del logo */
}


.provider-icon {
    font-size: 1.5rem;
    color: #0077b6;
}

.provider-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-left: 60px;
}

.provider-description {
    font-size: 1rem;
    color: #777;
    margin-top: 8px;
    line-height: 1.5;
    margin-left: 60px;

}

.provider-services {
    flex: 1;
    padding-left: 20px;
}

.service-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-left: 50px;
}

.service-icon {
    font-size: 1.25rem;
    color: #0077b6;
}

.service-title {
    flex-grow: 1;
    font-size: 1.1rem;
    color: #333;
}

.service-price {
    font-size: 1.1rem;
    color: #555;
    font-weight: bold;
}

.service-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30%; 
}


.provider-tagsC {
    display: flex; 
    flex-wrap: wrap; 
    margin-left: 45px;
}


.provider-tagsC .badge {
    background-color: rgb(84, 83, 83) !important;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px; /* Reduce la distancia superior */
    margin-left: 5px; /* Acerca los tags entre sí */
}


/* Ajustes generales del botón "Ver más" */
.ver-mas-btnC{
    display: block; /* Asegura que el botón se comporte como un bloque */
    margin: 10px 0 0 530px;
    border: 1px solid black;
}

/* Ajuste del botón dentro de una tarjeta */
.provider-card .ver-mas-btnC {
    padding: 5px 10px;
    background-color:rgba(244, 196, 48, 1);/* Color de fondo del botón */
    border-radius: 4px;
    color: rgb(0, 0, 0);
    text-align: center; /* Centrado del texto */
    font-size: 1.1rem;
    cursor: pointer;
    width: 100px; /* Ancho específico para el botón */


}

/* Efecto al pasar el ratón sobre el botón */
.provider-card .ver-mas-btn:hover {
    background-color: rgba(255, 165, 0, 1); /* Cambia el fondo al pasar el ratón */
}

/* Estilos para el botón "Volver al inicio" */
button.btn.btn-secondary.mt-2 {
    margin-bottom: 15px;
    right: 1110px; /* Ajusta la distancia del borde derecho */
    font-size: 14px; /* Cambia el tamaño de la fuente si es necesario */
    padding: 5px 10px; /* Ajusta el relleno */
    background-color: rgb(84, 83, 83); /* Color de fondo */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Bordes redondeados */
    color: rgb(255, 255, 255); /* Color del texto */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

button.btn.btn-secondary.mt-2:hover {
    background-color: #383838; /* Color de fondo al pasar el mouse */
}

.provider-rating{
    margin-top: 60px;
    position: absolute;
    margin-left: -10px;
}