/* Estilos personalizados para la tabla */
.table {
    margin-top: 20px;
    background-color: #FFF8DC;
}

.table th, .table td {
    text-align: center;
    padding: 15px;
    vertical-align: middle;
}

/* Fondo de la tabla */
.table thead {
    background-color: #FFFACD;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #FFEDC1;
}

/* Mejorar la apariencia de los badges */
.badge.bg-success {
    background-color: #28a745 !important;
    color: white;
}

.badge.bg-secondary {
    background-color: #6c757d !important;
    color: white;
}

.badge.bg-light {
    background-color: #f8f9fa !important;
    color: #495057;
}

/* Hacemos que la tabla tenga una transición de opacidad */
.table-responsive {
    transition: opacity 0.5s ease;
}

.table-responsive.loading {
    opacity: 0.5;  /* Aparece más opaca mientras carga */
}



/* Estilo para los badges más pequeños */
.custom-badge {
    font-size: 0.65rem;  /* Más pequeño */
    padding: 0.2rem 0.4rem;  /* Menos relleno */
    border-radius: 0.4rem;  /* Relleno más ajustado */
}

/* Estilo para los botones de filtro (tags) */
.tag-btn {
    font-size: 0.875rem;  /* Tamaño más pequeño */
    padding: 0.3rem 1rem;  /* Ajuste de padding para hacerlo más pequeño */
    border-radius: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Efecto de hover para los tags */
.tag-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título más llamativo */
h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4b8c7b;  /* Un verde llamativo */
}

