/* Asegura que html y body ocupen toda la altura de la pantalla */
html, body {
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* El contenedor principal ocupa toda la altura */
#root {
  height: 100%; /* Asegura que el root ocupe toda la pantalla */
  width: 100%; /* Define el ancho máximo */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 0; /* Evita cualquier padding innecesario */
  display: flex;
  flex-direction: column; /* Organiza los hijos en columna */
  background-color: #f5f5f5; /* Fondo base de la app */
}

/* Clase para la app interna */
.app {
  flex: 1; /* Permite que el contenido interno ocupe el espacio disponible */
  display: flex; /* Prepara el contenido interno para alineación si es necesario */
  flex-direction: column; /* Ajusta elementos hijos en columna */
}

/* Estilos para el logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animación para el logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
