.register-auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background-color: #d5d3d1;
}

.register-auth-card {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 430px;
  height: 100%;
  max-height: 650px;
}

.register-role-selection {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-role-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-role-button:hover {
  background-color: #e0e0e0;
}

.register-role-button svg {
  color: #333;
}

.register-checkmark {
  color: green;
  font-size: 18px;
}

.register-role-text {
  margin-top: 5px;
  color: #333;
}

.register-role-text-selected {
  color: #F39C12; /* Color cuando está seleccionado */
}

.register-submit-button {
  width: 100%;
  background-color: #F39C12;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-submit-button:hover {
  background-color: #684815;
  color: white;
}

.register-form-group {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 17px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px;
}

.register-new-sesion {
  margin-top: 20px;
  text-align: center;
}

.register-new-sesion a {
  color: inherit; /* Mantener el color de texto heredado */
  text-decoration: none; /* Quitar el subrayado */
  transition: color 0.3s ease; /* Suavizar el cambio de color */
}

.register-new-sesion a:hover {
  text-decoration: underline;
}

.register-new-sesion a:focus {
  outline: none; /* Eliminar el contorno de enfoque */
}

h2 {
  text-align: left; /* Título alineado a la izquierda */
  font-size: 20px; /* Reducir tamaño del título */
  margin-bottom: 5px; /* Reducir el espacio entre el título y "O Crea una cuenta" */
  color: rgb(0, 0, 0);
}
