.service-form-container {
    width: 650px; /* Más ancho */
    height: 100%; /* Ajusta la altura automáticamente */
    max-height: 80vh; /* Limita la altura para evitar desbordes */
    margin: 0 auto;
    padding: -10px 20px; /* Reducir padding superior */
    border-radius: 8px;
    background-color: #ffffff;
    padding-bottom: 20px;
    overflow-y: auto; /* Permite scroll si el contenido es demasiado largo */
}
.form-group {
    padding-right: 30px; /* Aumentar el espacio de separación del lado derecho del label */
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
    gap: 1rem; /* Esto controla la separación entre label y input */
    margin-bottom: 1.5rem; /* Espacio entre cada conjunto de label y input */
}

label {
    text-align: right;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%; /* Asegura que los inputs ocupen el espacio completo */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

textarea {
    resize: vertical;
    height: 100px; /* Aumentar la altura del textarea */
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(244, 196, 48, 1);
}

button.loading {
    background-color: rgb(233, 182, 16);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 520px;
}
